__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.DS_Store

# Mengabaikan semua file Excel mentah yang sensitif
keuangan_raw/*.xlsx
keuangan_raw/*.xls

# Mengabaikan hasil pemrosesan agar tidak ter-push ke repo publik
preprocessing/keuangan_preprocessing/*.csv
preprocessing/keuangan_preprocessing/*.xlsx

preprosessing_output/audit_df_preprocessed.csv
.audit_df_preprocessed.csv