name: Automated Preprocessing Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # Run setiap hari jam 00:00 UTC

jobs:
  run-preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: pip install -r preprosessing/requirements.txt

      - name: Run Preprocessing Script
        run: python preprocessing/automation_Saepulloh.py

      - name: Upload Processed Dataset as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: processed-dataset
          path: data/output/
          retention-days: 30
